.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: blue;
}
button{
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 5px;
}